*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 /* area 1*/
header{
	background-color:rgb(0, 0, 107) ;
}

.menù{
	height: 80px;
	background-color: lightblue;
	display: flex;
	padding: 25px;
}

.pubblicita{
	height: 400px;
	
}

	
	


.link{
	display: flex;
	border: 1px solid black;
	list-style-type: none;
	width: 60%;
	background-color: orange;
	justify-content: center;
	
}
li{
	padding: 0 8px;
}
.logo{
	border: 1px solid black;
	width:  20%;
	background-color: orange;
	

}
.logo-a{
	text-align: end;
	border: 1px solid black;
	width:  20%;
	background-color: orange;
}